h6 {
  color: #2978c9;
  font: normal;
  text-align: center;
}

p {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  color: rgb(95, 92, 92);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.page-container {
  width: 600px;
  display: block;
  margin: 0 auto;
}

.container {
  width: 600px;
  background-color: #c5e4fa;
  border-width: 8px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 20px;
}

.buttom {
  border-radius: 20px;
  background-color: #ffffff;
  border-color: #84d0ca;
}

.name {
  border-radius: 20px;
  background-color: #ffffff;
  border-color: #84d0ca;
}
.weather-temperature .active {
  color: #202124;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #62a3d4;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 16px;
}
